nav-bar {
  .nav-wrapper {
    .brand-logo {
      padding-left: 15px;
    }

    .i18n-dropdown {
      padding-right: 15px;

      span.material-icons {
        position: relative;
        top: 6px;
      }
    }
  }
}
