<template>
  <div class="todo-list-placeholder valign-wrapper" show.bind="todos.length === 0">
    <h2 class="valign" i18n="todo.placeholder"></h2>
  </div>
  <md-collection class="todo-list" show.bind="todos.length > 0">
    <md-collection-item repeat.for="todo of todos">
      <md-checkbox md-checked.bind="todo.done"></md-checkbox>
      <span class="todo-title ${ todo.done ? 'done' : '' }">${todo.title}</span>
    </md-collection-item>
  </md-collection>

  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a ref="tap" click.delegate="addTodo()" md-button="floating: true; large: true;" md-tooltip="position: left; text: todo.add;" md-waves="color: light; circle: true;">
      <i class="large material-icons">add</i>
    </a>
  </div>

  <md-tap-target md-ref.bind="tap" view-model.ref="tapTarget">
    <h5 class="white-text">Add a todo</h5>
    <p class="white-text" i18n="todo.placeholder">xy</p>
  </md-tap-target>

  <add-todo-modal todo-added.delegate="saveTodo($event.detail)" view-model.ref="addTodoModal"></add-todo-modal>
</template>
